/* Fuente de VILLANAS. */

@font-face {
  font-family: 'ARMYD';
  src: url('https://dl.dropboxusercontent.com/scl/fi/btrzvh6b8ha38dzjvsto9/ARMYD___.TTF?rlkey=msqscgcqk7amj3v9k2x3h8fzi&st=rgdloy1i&dl=0') format('truetype');
}

