/* Fuente de HAVI POTTER. */

@font-face {
  font-family: 'HaviPTwo';
  src: url('https://dl.dropboxusercontent.com/scl/fi/wg5iz3aw9lays18riz2wh/HaviPTwo.ttf?rlkey=3no4u07lj3g3k7c3rmd8pbivl&st=copt6xvb&dl=0') format('truetype');
}

