/* Fuente de HAVI POTTER. */

@font-face {
  font-family: 'HaviPOne';
  src: url('https://dl.dropboxusercontent.com/scl/fi/fpnxiez1p32n3qkl7shqo/HaviPOne.ttf?rlkey=uh7t92wo166j2pavqz813rqjt&st=h6gtotrz&dl=0') format('truetype');
}

