/* Grosor Normal */
@font-face {
  font-family: 'LumosFont';
  src: url('https://andonis-92.github.io/mi-web/fonts/Lumos.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Grosor Negrita (Simulada) */
@font-face {
  font-family: 'LumosFont';
  src: url('https://andonis-92.github.io/mi-web/fonts/Lumos.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
