<style type="text/css">
#abcd_141017_hook {
	text-align: center;
}
#abcd_141017_hook a {
	-webkit-transition: all /*Animation_Speed_Start*/200ms ease-in-out;/*Animation_Speed_End*/
	-moz-transition: all /*Animation_Speed_Start*/200ms ease-in-out;/*Animation_Speed_End*/
	-o-transition: all /*Animation_Speed_Start*/200ms ease-in-out;/*Animation_Speed_End*/
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.5em;
	text-align: center;
	border-style: solid;
	
	border-width: /*Border_Width_Start*/0px;/*Border_Width_End*/
	border-color: /*Border_Color_Start*/transparent;/*Border_Color_End*/
	-webkit-border-radius: /*Border_Radius_Start*/5px;/*Border_Radius_End*/
	-moz-border-radius: /*Border_Radius_Start*/5px;/*Border_Radius_End*/
	-ms-border-radius: /*Border_Radius_Start*/5px;/*Border_Radius_End*/
	-o-border-radius: /*Border_Radius_Start*/5px;/*Border_Radius_End*/
	border-radius: /*Border_Radius_Start*/5px;/*Border_Radius_End*/
	background-color: /*background_color_start*/transparent;/*background_color_end*/
	color: /*text-color-start*/#fdcd4c;/*text-color-end*/
	font-size: /*font-size-start*/20px;/*font-size-end*/
	margin: /*margin-start*/2px;/*margin-end*/
	
	*display: inline;
	zoom: 1.1;
}
#abcd_141017_hook a:hover {
	border-color: /*hover-border-color-start*/#transparent;/*hover-border-color-end*/
	-webkit-border-radius: /*hover-border-radius-start*/5px;/*hover-boder-radius-end*/
	-moz-border-radius: /*hover-border-radius-start*/5px;/*hover-boder-radius-end*/
	-ms-border-radius: /*hover-border-radius-start*/5px;/*hover-boder-radius-end*/
	-o-border-radius: /*hover-border-radius-start*/5px;/*hover-boder-radius-end*/
	border-radius: /*hover-border-radius-start*/5px;/*hover-boder-radius-end*/
	background-color: /*hv-bg-color*/transparent;/*hv-bg-color*/
	color: /*hv-color*/#FF00E2;/*hv-color*/
}

#abcd_141017_hook.spin a:hover {
	-webkit-transform: rotate(360deg);  /* Chrome, Safari 3.1+ */
	-moz-transform: rotate(360deg);  /* Firefox 3.5-15 */
	-ms-transform: rotate(360deg);  /* IE 9 */
	-o-transform: rotate(360deg);  /* Opera 10.50-12.00 */
	transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
}
#abcd_141017_hook.jump a:hover {
	-webkit-transform:translateY(-25%);
	-moz-transform:translateY(-25%);
	-ms-transform:translateY(-25%);
	-o-transform:translateY(-25%);
	transform:translateY(-25%);
}
#abcd_141017_hook.zoom a:hover {
	-webkit-transform:scale(1.5, 1.5);
	-moz-transform:scale(1.5, 1.5);
	-ms-transform: scale(1.5, 1.5);
	-o-transform:scale(1.5, 1.5);
	transform:scale(1.5, 1.5);
}
#abcd_141017_hook.opacity a{
	opacity: 0.5;
    filter: alpha(opacity=70);
}
#abcd_141017_hook.opacity a:hover {
	opacity: 1;
    filter: alpha(opacity=100);
}
</style>